<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.kasinadhsarma.dailyroutine.daily_routine_sdk">

  <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
    tools:ignore="ProtectedPermissions"
    xmlns:tools="http://schemas.android.com/tools" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
  <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>
    <service
      android:name="com.kasinadhsarma.dailyroutine.daily_routine_sdk.AppBlockerService"
      android:exported="false"
      android:foregroundServiceType="specialUse">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="app-blocking-focus-session" />
    </service>

    <service
      android:name="com.kasinadhsarma.dailyroutine.daily_routine_sdk.AppUsageTrackerService"
      android:exported="false"
      android:foregroundServiceType="specialUse">
      <property
        android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
        android:value="personal-activity-tracking" />
    </service>

    <activity
      android:name="com.kasinadhsarma.dailyroutine.daily_routine_sdk.BlockScreenActivity"
      android:exported="false"
      android:theme="@style/Theme.AppCompat.NoActionBar"
      android:excludeFromRecents="true"
      android:launchMode="singleTask" />
  </application>
</manifest>
